<div class = "sign-container">

  <h3 class = "title">ログイン</h3>
  
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class = "contents">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class = "entry-field">
        <ul>
          <li>
            <p class = "essential"></p>
            <%= f.email_field:email, :placeholder => "メールアドレス", autocomplete: "email" %>
          </li>
          <li>
            <p class = "essential"></p>
            <%= f.password_field :password, :placeholder => "パスワード", autocomplete: "current-password" %>
          </li>
        </ul>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label "パスワードを記憶する場合はチェックを入れてください" %>
        </div>
      <% end %>
      <div class = "move-link">
        <ul>
          <li><%= f.submit "ログイン", {class: "exe-btn"} %></li>
          <li><%= render "devise/shared/links" %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>